@model Vezu_Vaziuoju.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Admin.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Driver.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsValid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsValid)
        </dd>

    </dl>
    @Html.ActionLink("Buy Ticket", "BuyTicket", new { id = Model.Id }, new { @class = "btn btn-danger" })
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")|
</p>
