@model Vezu_Vaziuoju.Ticket

@{
    ViewBag.Title = "Ticket Details";
}

<h2>Ticket Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidTill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidTill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsUsed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsUsed)
        </dd>

        <dt>
            Owner
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passenger.User.Email)
        </dd>
    </dl>
</div>

